body {
     font-family: "Roboto", sans-serif;
}

.section {
    background-color: #1F2937;
}

.top {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.headerlinks {
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap:10px;
}


a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.headerlogo {
    color: #F9FAF8;
    font-weight: 900;
    font-size: 24px;
}

.two {
    display: flex;
    padding-top: 60px;

    
}

.title {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    }

.subtitle {
    color: #E5E7EB;
    font-size: 18px;

}

.LHS {
    width: 600px;
}
