body {
     font-family: "Roboto", sans-serif;
}

.section {
    background-color: #1F2937;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerlinks {
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap:15px;
    margin-right: 70px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.headerlogo {
    color: #F9FAF8;
    font-weight: 900;
    font-size: 24px;
    padding-left: 160px;
}

.two {
    display: flex;
    padding-top: 60px;
    justify-content: space-around;
    padding-left: 160px;
    padding-bottom: 100px;   
}

.title {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.subtitle {
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 100;
}

.RHS {
    background-color: grey;
    color: white;
    width: 1100px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-left: 30px;
    margin-right: 70px;
}

.signup {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 4px;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 900;
    margin-top: 10px;
}

.randominfotext {
    display: flex;
    justify-content: center;
    font-weight: 900;
    font-size: 26px;
    margin:40px;
}

.blocks {
    display: flex;
    justify-content: center;
    gap:30px;
}

.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.box {
    min-width:120px;
    min-height:120px;
    border: 3px solid #3882F6;
    border-radius: 10px;
    flex: 1 1 0;
}
.textbox {
    width:120px;
    font-size: 10px;
    color: gray;
    text-align: center;
    flex: 1 1 0;
    margin-top: 5px;
}

.randominformation {
    padding-bottom: 100px;
}

.quotesection {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 100px;
    align-items: center;
    justify-content: center;
    padding-left: 200px;
    padding-right: 200px;
    background-color: #E5E7EB;
}
.quote {
    
    padding: 5px;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}

.author {
    font-weight: 900;
    color: #1F2937;
    margin-left: auto;
    text-align: center;
    font-size: 20px;
    margin-right: 80px;
}